---
layout: default
---

<div class="home">
  {{ content }}
  {% assign date_format = site.minima_dude.date_format | default: "%-d %b %Y" %}
  {% assign postsByDay =
  site.posts | group_by_exp:"post", "post.date | date: date_format" %}

  <ul class="post-list h-feed">
    {% for day in postsByDay limit:14 %}
    <li>
      <div class="post-meta">{{ day.name }}</div>
      <ul class="post-list">
        {% for post in day.items %}
          <li class="h-entry">
            {% if post.layout == 'photo' %}
              <div class="micropub_photo photo e-content">
                {{ post.content }}
                <a class="photo_url u-url" href="{{ post.url | relative_url }}">★</a>
                {% comment %}<a class="photo_url" href="{{ post.url | relative_url }}">{% include icon-instagram.svg %}</a>{% endcomment %}
              </div>
            {% else %}
              {% if post.layout == 'note' %}
              <div class="micropub_note e-content">
                {{ post.content }}
                <a class="note_url u-url" href="{{ post.url | relative_url }}">★</a>
                <hr>
              </div>
              {% else %}
                <h2>
                  <a class="post-link u-url p-name" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </h2>
                {% assign word_count = post.content | strip_html | number_of_words %}
                {% if word_count > 100 %}
                  <span class="p-summary e-content">
                  {{ post.excerpt }}
                  </span>
                  <span class="more-link"><a href="{{ post.url }}">Continue reading →</a></span>
                {% else %}
                  <span class="e-content">
                  {{ post.content }}
                  <span>
                {% endif %}
              {% endif %}
            {% endif %}
            <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
          </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
  <p class="center">∙ <a href="/archives">Older Posts</a> ∙</p>
</div>
